[submodule "fullstack-chat-client"]
	path = fullstack-chat-client
	url = https://github.com/PlebeiusGaragicus/fullstack-chat-client
	branch = main
[submodule "cyphertap"]
	path = cyphertap
	url = https://github.com/PlebeiusGaragicus/cyphertap
	branch = SocraticSeminar
[submodule "deepagents"]
	path = deepagents
	url = https://github.com/langchain-ai/deepagents
	branch = master
[submodule "nutshell"]
	path = nutshell
	url = https://github.com/cashubtc/nutshell
	branch = main
[submodule "SvelteReader"]
	path = SvelteReader
	url = git@github.com:PlebeiusGaragicus/SvelteReader.git
	branch = main